@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
:root {
  --operatorColor: rgb(86, 86, 250);
  --buttonHover: rgba(82, 81, 81, 0.482);
  --operatorButtonHover: rgba(86, 86, 250, 0.685);
  --border: rgb(82, 81, 81);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
body {
  background: linear-gradient(90deg, #24272b, #07070a);
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.board {
  width: 30vw;
  height: 650px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  border: 2px solid var(--border);
  box-shadow: 2px 2px 17px 5px var(--border);
}
.input-row{
  height: 35%;
}
.row {
  width: 100%;
  height: 16%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}
.input {
  width: 100%;
  height: 100%;
  padding: 0px 20px;
  text-align: right;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 4rem;
  color: #fff;
  box-shadow: -1px -1px 10px black;
}
.input::placeholder {
  color: #fff;
}
.button {
  width: 24%;
  height: 100%;
  border-radius: 30px;
  border: none;
  font-size: 1.8rem;
  background-color: transparent;
  color: #fff;
  box-shadow: 0px 0px 10px black;
}
.button:hover {
  background-color: var(--buttonHover);
}
.operatorColor {
  color: var(--operatorColor);
}
.operatorBgColor {
  background-color: var(--operatorColor);
}
.operatorBgColor:hover {
  background-color: var(--operatorButtonHover);
}

/* ----------**Responsive------- */

@media only screen and (max-width: 1200px) {
  .board{
    width: 40vw;
  }
}

@media only screen and (max-width: 950px) {
  .board{
    width: 50vw;
  }
}

@media only screen and (max-width: 750px) {
  .board{
    width: 60vw;
  }
}

@media only screen and (max-width: 650px) {
  .board {
    width: 70vw;
    height: 500px;
    gap: 15px;
    box-shadow: 2px 2px 17px 3px var(--border);
  }
  .row{
    gap: 15px;
  }
  .input {
    font-size: 2.8rem;
  }
  .button {
    border-radius: 25px;
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 450px) {
  .board {
    width: 75vw;
    height: 400px;
    padding: 10px;
    gap: 10px;
    box-shadow: 1px 1px 15px 1.3px var(--border);
  }
  .input {
    padding: 0px 10px;
    border-radius: 10px;
    font-size: 2rem;
    box-shadow: 0px 0px 7.5px black;
  }
  .row{
    gap: 10px;
  }
  .button {
    border-radius: 12px;
    font-size: 1.2rem;
    box-shadow: 0px 0px 5px black;
  }
}
